@{
    ViewBag.Title = "Home";
}
@model List<MVCBlog.Models.Recipe>
    <body class="HomeBg"></body>

@foreach (var recipe in Model)
{

    <div class="row">
        <div class="recipe col-md-6">
            <h2>@recipe.Title</h2>
            <div class="about">
                Posted on <i>@recipe.Date.ToString("d")</i>
               
                     

                
     <div>
         @if (recipe.Image != null)
         {
         <img src="data:image;base64,@System.Convert.ToBase64String(recipe.Image)"class="image" />
         }
     </div>
               
            </div>
            <p>@recipe.Body</p>
            </div>
        </div>
}
    